@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RoWeb Movie App</h1>
    <p>This website was made <a href="https://docs.microsoft.com/ro-ro/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-5.0&tabs=visual-studio">using this Microsoft tutorial</a>.</p>
</div>
